<!DOCTYPE html>
<html>
  <head>
    <title>Code Smash: Simple Transaction Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap" class='container'>
      <div id="header" class="row">
        <h1><%= image_tag 'shopkeep-logo.png' %></h1>
        <h2>Code Smash: Simple Transaction Service</h2>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
